<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5><p style="line-height: 3.5em">Subjects</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Arts and Humanities</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Languages</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Math</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Science</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Social Science</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Other</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5><p style="line-height: 3.5em">Features</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Quizlet Live</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Quizlet Learn</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Explanations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Flashcards</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Partnerships</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Quizlet Plus</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Quizlet Plus for teachers</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5><p style="line-height: 3.5em">Help</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Sign up</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Help Center</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Honor Code</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Community Guidelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Teachers</a></li>
          </ul>
        </div>

        <div class="col-2">
            <h5><p style="line-height: 3.5em">About</p></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Company</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Be The Change</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Blog</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Press</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Careers</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">How Quizlet Works</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Advertise</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Privacy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Ad and Cookie Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">Terms</a></li>
            </ul>
          </div>

          <div class="col-2">
            <h5><p style="line-height: 3.5em">Language</p></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #465ecc">English (USA)</a></li>
            </ul>
          </div>
  
        
      </div>
  
    
      <div class="container">
      <svg class="bi" width="25" height="25" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#twitter"/>
      </svg>
      <span style="display:inline-block; width: 5px;"></span>
      <svg class="bi" width="25" height="25" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#facebook"/>
      </svg>
      <span style="display:inline-block; width: 5px;"></span>
      <svg class="bi" width="25" height="25" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#instagram"/>
      </svg>
      <span style="display:inline-block; width: 5px;"></span>
      <svg class="bi" width="25" height="25" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#youtube"/>
      </svg>
    </div>
        <p>© 2022 Quizlet, Inc.</p>
        
    </footer>
  </div>