<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5><p class="header">Subjects</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Arts and Humanities</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Languages</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Math</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Science</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Social Science</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Other</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5><p class="header">Features</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Quizlet Live</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Quizlet Learn</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Explanations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Flashcards</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Mobile</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Partnerships</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Quizlet Plus</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Quizlet Plus for teachers</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5><p class="header">Help</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Sign up</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Help Center</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Honor Code</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Community Guidelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Teachers</a></li>
          </ul>
        </div>

        <div class="col-2">
            <h5><p class="header">About</p></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Company</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Be The Change</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Blog</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Press</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Careers</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">How Quizlet Works</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Advertise</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Ad and Cookie Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Terms</a></li>
            </ul>
          </div>

          <div class="col-2">
            <h5><p class="header">Language</p></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">English (USA)</a></li>
            </ul>
          </div>
  
        
      </div>
  
    
      <div class="container">
      <a href="#"> 
      <svg class="bi" width="15" height="15" fill="black">
        <use xlink:href="assets/bootstrap-icons.svg#twitter"/>
      </svg>
      </a>
      <a href="#" class="facebook"> 
      
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#facebook"/>
      </svg>
      </a>
      <a href="#" class="instagram"> 
      
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#instagram"/>
      </svg>
      </a>
      <a href="#" class="youtube"> 
     
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#youtube"/>
      </svg>
      </a>
    </div>
        <p>© 2022 Quizlet, Inc.</p>
        
    </footer>
  </div>