<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5><p style="line-height: 3.5em; font-size: 17px; font-weight: 700">Subjects</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Arts and Humanities</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Languages</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Math</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Science</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Social Science</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Other</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5><p style="line-height: 3.5em; font-size: 17px; font-weight: 700">Features</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Quizlet Live</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Quizlet Learn</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Explanations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Flashcards</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Mobile</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Partnerships</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Quizlet Plus</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Quizlet Plus for teachers</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5><p style="line-height: 3.5em; font-size: 17px; font-weight: 700">Help</p></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Sign up</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Help Center</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Honor Code</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Community Guidelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Teachers</a></li>
          </ul>
        </div>

        <div class="col-2">
            <h5><p style="line-height: 3.5em; font-size: 17px; font-weight: 700">About</p></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Company</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Be The Change</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Blog</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Press</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Careers</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">How Quizlet Works</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Advertise</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Privacy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Ad and Cookie Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">Terms</a></li>
            </ul>
          </div>

          <div class="col-2">
            <h5><p style="line-height: 3.5em; font-size: 17px; font-weight: 700">Language</p></h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #5e69fd; font-size: 14px">English (USA)</a></li>
            </ul>
          </div>
  
        
      </div>
  
    
      <div class="container">
      <a href="#" style="color:black"> 
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#twitter"/>
      </svg>
      </a>
      <a href="#" style="color:black; position:relative; left: 30px"> 
      <span style="display:inline-block; width: 5px;"></span>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#facebook"/>
      </svg>
      </a>
      <a href="#" style="color:black; position:relative; left: 60px"> 
      <span style="display:inline-block; width: 5px;"></span>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#instagram"/>
      </svg>
      </a>
      <a href="#" style="color:black; position:relative; left: 90px"> 
      <span style="display:inline-block; width: 5px;"></span>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#youtube"/>
      </svg>
      </a>
    </div>
        <p>© 2022 Quizlet, Inc.</p>
        
    </footer>
  </div>