<div class ="container-fluid"> 
    <h1 class="aboutheader">About Quizlet</h1>
    <div class="d-flex justify-content-center">
        <div class="card mb-3 aboutcard">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title paragraphheader">Making every student unstoppable</h2>
                    <p class="card-text paragraph">At Quizlet, we believe that anyone can learn anything. All it takes is a tenacious spirit, the right guidance, and the tools to see it through. We know that students are under more pressure than ever. It can leave them overwhelmed, be anxiety, producing and make it all too easy to burn out.</p>
                    <p class="card-text paragraph">It's our job to give every student the tools and confidence to succeed, no matter what their motivation, or what they're striving to achieve.</p>
                    <a href="#" class="btn button">Read our impact report</a>
                </div>
                
              </div>
              <div class ="col-md-4">
                <img src="./assets/aboutphoto.png" class="imageabout"> 
              </div>
            </div>
          </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card mb-3 aboutcard">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body">
                  <h2 class="card-title paragraphheader">It started with a victory</h2>
                  <p class="card-text paragraph">In 2005 Andrew Sutherland created a studying tool to help him ace a French vocabulary test. He aced it. And shared it with his friends. Who started acing their test. And now, more than a decade later, 50 million students and learners use Quizlet every month for everything from math tests to medical exams, to well, French vocabulary quizzes.</p>
              </div>
              
            </div>
            <div class ="col-md-4">
              <img src="./assets/aboutphoto2.png" class="imageabout"> 
            </div>
          </div>
        </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card mb-3 aboutcard">
        <div class="row g-0">
          <div class ="col-md-4">
            <img src="./assets/explanationsphoto.png" class="imageabout"> 
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title paragraphheader">From a single classroom to schools around the world</h2>
                <p class="card-text paragraph">What started as a simple tool has grown into seven different study modes, tools to help teachers get the most out of their students, and activities to help classes learn and have fun together. And that's just the start. We're working on unleashing the magic of one-on-one learning for every student, shaping the future of personalized learning through an assistant to help guide and motivate every learner.</p>
            </div>
            
          </div>
      </div>
  </div>
  </div>
  <h2 class="investorheader">Our investors</h2>
  <p class="investorparagraph">Quizlet is proud to have great partners and backers including:</p>
  <div class="row g-0 d-flex justify-content-center">
        <div class="card mb-3 cardinvestor col-md-4">
          <img src="./assets/GALogo.svg" class="imageinvestor">
        </div>
        <div class="card mb-3 cardinvestor col-md-4">
          <img src="./assets/iconventures.svg" class="imageinvestor">
        </div>
        <div class="card mb-3 cardinvestor col-md-4">
          <img src="./assets/usvlogo.svg" class="imageinvestor">
        </div>
        <div class="w-100"></div>
        <div class="card mb-3 cardinvestor col-md-4">
          <img src="./assets/costanoaventures.svg" class="imageinvestor">
        </div>
        <div class="card mb-3 cardinvestor col-md-4">
          <img src="./assets/owlventures.svg" class="imageinvestor">
        </div>
        <div class="card mb-3 cardinvestor col-md-4">
          <img src="./assets/altosventures.svg" class="imageinvestor">
        </div>
  </div>
  <h3 class="investorheader">Recent press</h3>
</div>

