<div class ="container-fluid"> 
    <h1 class="aboutheader">About Quizlet</h1>
    <div class="d-flex justify-content-center">
        <div class="card mb-3 aboutcard">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title paragraphheader">Making every student unstoppable</h2>
                    <p class="card-text paragraph">At Quizlet, we believe that anyone can learn anything. All it takes is a tenacious spirit, the right guidance, and the tools to see it through. We know that students are under more pressure than ever. It can leave them overwhelmed, be anxiety, producing and make it all too easy to burn out.</p>
                    <p class="card-text paragraph">It's our job to give every student the tools and confidence to succeed, no matter what their motivation, or what they're striving to achieve.</p>
                    <a href="#" class="btn button">Read our impact report</a>
                </div>
                
              </div>
              <div class ="col-md-4">
                <img src="./assets/aboutphoto.png" class="imageabout"> 
              </div>
            </div>
          </div>
    </div>
</div>
