<div class="container">
    <div class="row">      
         <p class="header">Find step-by-step textbook solutions</p>
         <img src="./assets/explanationsphoto.png" class="image"> 
    </div>
</div>

<p class="text">Popular Textbooks</p>
<div class="container-fluid">
    <div class="row">
        <div *ngFor="let product of products" class="col-6">
            <quiz-category-card class="card mb-3" img={{product.img}}
            title={{product.title}}
            author={{product.author}}
            edition={{product.edition}}
            explanation={{product.explanation}}>
            Loading...</quiz-category-card>
        </div>
    </div>
</div>
