<div class="container-fluid">
    <h1 class="learntitle">Get to know Quizlet Learn!</h1>
    <div class="d-flex justify-content-center">
        <div class="card mb-3 learncard">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title paragraphheaderlearn">Know what you need to know with Quizlet Learn</h2>
                    <p class="card-text paragraphlearn">You have a big quiz or test coming up. Do you know the best way to study?</p>
                    <p class="card-text paragraphlearn">Now you do - meet the new Quizlet Learn. Create a study set of material you need to practice and master, tell us when you need to learn it by, and we'll kick-start your studying with an adaptive study plan and notifications that remind you when it's time to focus.</p>
                </div>
                
              </div>
              <div class ="col-md-4">
                <img src="./assets/learnphoto.png" class="imagelearn"> 
              </div>
            </div>
          </div>
    </div>
</div>