<nav class="navbar">
    <div class="container-fluid">
     
     <a class="quiz" href="#"><strong>Quizlet</strong></a>

     
      <a class="home"href="#">Home</a>
     
      <a class="subjects"href="#">Subjects</a>

      <a class="explanations" href="#">Explanations</a>
     
     
    
      
      
       <li class="nav-tem dropdown">
        <button type="button" class="create">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Create
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
              <svg class="bi" width="15" height="15" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#app"/>
              </svg>
              Study Set
            </a></li>
            <li><a class="dropdown-item" href="#">
              <svg class="bi" width="15" height="15" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#folder"/>
              </svg>
              Folder
            </a></li>
            <li><a class="dropdown-item" href="#">
              <svg class="bi" width="15" height="15" fill=grey>
                <use xlink:href="assets/bootstrap-icons.svg#people-fill"/>
              </svg>
              Class
            </a></li>
          </ul>
        </button>
       </li>
  

      
      <form class="search">
        <div class="input-group">
          <span class="input-group-text">
            <svg class="bi" width="20" height="25" fill="black">
              <use xlink:href="assets/bootstrap-icons.svg#search"/>
            </svg>
          </span>
          <input type="text" class="form-control" placeholder="Study sets, textbook..." aria-label="Study sets, textbook..." aria-describedby=Verdana>
        </div>
      </form>

      <a class="login" href="#">Log in</a>
      <button type="button" class="signup">Sign up</button>

    </div>
  </nav>