.quiz{
   outline-color: white;
    background-color: white;
    border-color: white;
    color: #4255ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-decoration: none;
    
}



.body{
    background-color: white;
}

.home{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    display:inline-block;
    border-bottom: 5px solid #a8b1ff;
    padding: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 145px;
    color: #2e3856
    
}



.subjects{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    display:inline-block;
    margin-right:5px;
    position:relative;
    color: #2e3856;
    left: -295px;
    
}

.subjects:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #a8b1ff;
    
}

.explanations{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    display:inline-block;
    margin-right:5px;
    position:relative;
    color: #2e3856;
    left: -690px;
    
}

.explanations:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #a8b1ff;
    
}

.create{
    outline-color: #4255ff;
    background-color:#4255ff;
    border-color:#4255ff;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px; 
    height: 37px; 
    border-radius: 5px;
    position: relative;
    left: -1100px;
}

.create:hover{
    background-color:#2b48ca;
}



.login{
    outline-color:white;
    background-color:white;
    border-color: white;
    color: rgb(148, 144, 144);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    font-weight: 400;
    text-decoration: none;
    color: #627697;
    position: relative; 
    left: 365px;
     

}
.login:hover{
    background-color: rgb(238, 235, 235);
    padding: 0.5em;
    border-radius: 5px;
}

.signup{
    outline-color: #ffcd1f;
    background-color: #ffcd1f;
    border-color:#ffcd1f;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border-width: 5px;
    font-weight: 400;

}

.signup:hover{
    background-color:#ffd447;
    border-width: 5px;
}

.search{
    position: relative;
    left: 715px;
}

.nav-tem{
    position:relative;
}

.input-group{
    width: 235px; 
    color: dimgray
}
.form-control{
    color:dimgray;
}
.dropdown-toggle{
    color: white;
}
