<nav class="navbar">
    <div class="container-fluid">
     
     <a class="quiz" href="#"><strong>Quizlet</strong></a>

     
      <a class="home" style="color: #2e3856; position: fixed; left: 130px" href="#">Home</a>
     
      <a class="subjects" style="color: #2e3856;position: fixed; left: 195px" href="#">Subjects</a>

      <a class="subjects" style="color:#2e3856; position: fixed; left: 275px" href="#">Explanations</a>
     
     
    
      
      
       <li class="nav-tem dropdown" style="position: fixed; left: 375px">
        <button type="button" class="create">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Create
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
              <svg class="bi" width="15" height="15" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#app"/>
              </svg>
              Study Set
            </a></li>
            <li><a class="dropdown-item" href="#">
              <svg class="bi" width="15" height="15" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#folder"/>
              </svg>
              Folder
            </a></li>
            <li><a class="dropdown-item" href="#">
              <svg class="bi" width="15" height="15" fill=grey>
                <use xlink:href="assets/bootstrap-icons.svg#people-fill"/>
              </svg>
              Class
            </a></li>
          </ul>
        </button>
       </li>
  

      
      <form style="position: fixed; left: 2680px">
        <div class="input-group" style="width: 235px; color: dimgray">
          <span class="input-group-text">
            <svg class="bi" width="20" height="25" fill="black">
              <use xlink:href="assets/bootstrap-icons.svg#search"/>
            </svg>
          </span>
          <input type="text" class="form-control" placeholder="Study sets, textbook..." aria-label="Study sets, textbook..." aria-describedby=Verdana style="color:dimgray">
        </div>
      </form>

      <a class="login" style="color: #627697; position: fixed; left: 2965px" href="#">Log in</a>
      <button type="button" class="signup">Sign up</button>

    </div>
  </nav>